VITE_SUPABASE_URL=https://jnfpulrlnrnuwnbtdbzt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_QRiO3x9yBk8N27J_mdErow_kWqyyOQO
VITE_API_BASE=https://jnfpulrlnrnuwnbtdbzt.supabase.co/functions/v1/make-server-cee56a32
